# Clase 3: Introducci칩n a Pandas y Numpy

In [1]:
import numpy as np
import pandas as pd

#### Crear un array unidimensional

In [2]:
array_1d = np.array([1, 2, 3, 4, 5])
print("Array unidimensional:", array_1d)

Array unidimensional: [1 2 3 4 5]

#### Crear un array bidimensional

In [3]:
array_2d = np.array([[1, 2, 3], [4, 5, 6]])
print("Array bidimensional:\n", array_2d)

Array bidimensional:
 [[1 2 3]
 [4 5 6]]

#### Operaciones b치sicas

In [4]:
print("Suma de todos los elementos:", np.sum(array_2d))
print("Media de los elementos:", np.mean(array_2d))
print("M치ximo valor:", np.max(array_2d))

Suma de todos los elementos: 21
Media de los elementos: 3.5
M치ximo valor: 6

#### Crear una Serie

In [5]:
serie = pd.Series([10, 20, 30, 40, 50])
print("Serie:\n", serie)

Serie:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

#### Crear un DataFrame

In [6]:
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Marta'],
    'Edad': [23, 45, 34, 42],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
    Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Luis    45  Barcelona
2  Carlos    34   Valencia
3   Marta    42    Sevilla

#### Acceder a una columna

In [7]:
print("Columna 'Edad':\n", df['Edad'])

Columna 'Edad':
 0    23
1    45
2    34
3    42
Name: Edad, dtype: int64

#### Filtrar datos

In [8]:
print("Filtrar por Edad > 30:\n", df[df['Edad'] > 30])

Filtrar por Edad > 30:
    Nombre  Edad     Ciudad
1    Luis    45  Barcelona
2  Carlos    34   Valencia
3   Marta    42    Sevilla